.banner-main {
    background: url('https://res.cloudinary.com/dm72lanye/image/upload/v1687208845/oja2kdybxju7tkgcgzst.jpg');
    background-repeat: no-repeat;
    min-height: rem(441px);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 0rem;
    margin-block-start: rem(30px);

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(120px);
        align-items: center;
    }

    .welcome {
        color: $clr6;
        font-size: rem(41px);
        margin-block-end: 0.24em;
        gap: 0.48em;

        h1 {
            margin-block-end: rem(0px);
        }
     
         span {
            font-size: rem(51px);
            font-family: caveat;
        }
    }

   
    .text-bg {
        text-align: left;
        padding-left: rem(50px);

        .service {
            color: $clr6;
            font-size: rem(41px);
            line-height: 1.65em;
            display: block;
            margin-block-end: 0.25em;
        }
    }

    img {
        max-height: rem(500px);
        max-width: em(500px);
    }

    .text-bg {
        .user-details ,p {
            line-height: rem(28px);
            font-weight: 500;
            padding-bottom: rem(20px);
            display: block;
            color: $clr6;
        }
        .user-details{
            font-weight: 600;
            font-size: rem(20px);
        }
        .links {
            display: flex;
            gap: rem(20px);
            margin-block-end: rem(20px);

            a {
                font-size: rem(17px);
                background-color: $clr7;
                color: $clr6;
                padding: 13px 0px;
                width: 100%;
                max-width: 190px;
                text-align: center;
                display: inline-block;
                transition: ease-in all 0.5s;
                border-radius: rem(30px);
                font-weight: 500;

                &:hover {
                    background-color: $clr6;
                    color: $clr7;
                    transition: ease-in all 0.5s;
                }
            }
        }
    }
}

.we-do {
    padding-top: rem(70px);

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: rem(80px);
        align-items: center;

        .titlepage {
            text-align: center;
            padding-bottom: rem(60px);

            h2 {

                font-size: rem(35px);
                color: $clr8;
                line-height: 55px;
                font-weight: bold;
                padding: 0;
                border-bottom: $clr9 solid 1px;
                max-width: 300px;
                margin: auto
            }

            p {
                color: $clr7;
                display: block;
                font-size: rem(26px);
                font-weight: bold;
                text-align: center;
                padding-top: 0.77em;
            }
        }
    }

    .container-grid {
        display: grid;
        justify-items: center;

        .img-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-inline-start: 0em;
            padding-inline-end: 0em;
            gap: rem(55px);
            align-items: center;
            max-width: rem(1000px);
        }
    }

    .work {
        position: relative;

        img {
            width: 100%;
            position: relative;
            z-index: -5;
            height: auto;
            object-fit: cover;
        }
    }

    .work-text {
        opacity: 0;
        transition: ease-in all 0.5s;
        cursor: pointer;

        h3 {
            color: $clr6;
            font-size: rem(25px);
            line-height: 1.12em;
            font-weight: 700;
            padding-bottom:  0.4em;
            text-transform: uppercase;
            left: rem(147px);
            position: absolute;
            top: rem(180px);

            .blu {
                color: $clr6;
                font-size: rem(17px);
                line-height: 1.64em;
                font-weight: 600;
                text-transform: uppercase;
                left: rem(29px);
                position: absolute;
                top: rem(45px);
            }
        }
    }

    .work:hover {
        .work-text {
            opacity: 1;
            transition: ease-in all 0.5s;
        }

    }

    .read-more {
        font-size: 17px;
        background-color: $clr7;
        color: $clr6;
        padding: 13px 0px;
        width: 100%;
        max-width: rem(190px);
        text-align: center;
        display: inline-block;
        transition: ease-in all 0.5s;
        border-radius: rem(30px);
        font-weight: 500;
        margin-block-start: rem(30px);

        &:hover {
            background-image: linear-gradient(to bottom, $clr10, $clr11);
            transition: ease-in all 0.5s;
        }
    }
}

@include for-mobile-layout {
    .banner-main {
        .row {
            gap: rem(40px);
        }

        .welcome {
            margin-block-start: rem(10px);
            margin-block-end: rem(9px);
            gap: rem(12px);

            .user-details, span {
                font-size: rem(31px);
            }
        }

        .text-bg {
            padding-left: rem(0px);

            .service {
                font-size: rem(31px);
                justify-content: center;
            }

            p {
                font-size: rem(14px);
            }
            .links{
                margin-block-end: rem(0px);
            }
        }

        img {
            max-width: rem(300px);
            margin-block-end: rem(20px);

        }
    }
    .titlepage p{
        padding-inline-start: rem(30px);
        padding-inline-end: rem(30px);
    }
     .we-do {
        .container-grid .img-grid {
            padding-inline-start: rem(20px);
            padding-inline-end: rem(20px);
        }
        .work-text h3{
            display: none;
        }
     }
}