// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #141629;
$clr8: #090807;
$clr9: #0556c4;
$clr10: #1559b7;
$clr11: #4f7af3;
$clr12: #000000;
$clr13: #a70f0f;
$clr14: #03a9f414;
$clr15: #0000002b;
$clr16: #a5c6f5;
$clr17: #a3baf8;
$clr18: #67a0f1;
$clr19: #409eff;
$clr20: #dfe4f0;
$clr21: #0000ff;
$clr22: #00000080;
$clr23: #95979d;
$clr24: #000;
$clr25: #efecec;
$clr26: #00000026;
$clr27: #e4e5e7;
$clr28: #1dbf73;
$clr29: #99c7f7;



// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;